base_path:
    base_model_path: /mnt/shared-storage-user/models
    base_output_path: /mnt/shared-storage-user/llmrazor-share/qa-llm-cicd/test_output

default_config:
    train: 
        resource:
            gpus_per_task: 8
            cpus_per_task: 120
            memory_per_task: 512
            image: registry.h.pjlab.org.cn/ailab-puyu-puyu_gpu/xtuner:pt28_20250911_6652194
            envs: 
                - HF_HUB_CACHE=/mnt/shared-storage-user/auto-eval-pipeline/opencompass/models/hf_hub
    eval:
        resource:
            gpus_per_task: 0
            cpus_per_task: 16
            memory_per_task: 128
            image: registry.h.pjlab.org.cn/ailab-puyu/auto-eval:ld_0101_oc_8ee07ac_v3
            envs: 
                - HF_HUB_CACHE=/mnt/shared-storage-user/auto-eval-pipeline/opencompass/models/hf_hub
                - HF_DATASETS_CACHE=/mnt/shared-storage-user/auto-eval-pipeline/opencompass/llmeval/hf_cache
                - COMPASS_DATA_CACHE=/mnt/shared-storage-user/auto-eval-pipeline/opencompass/llmeval/compass_data_cache
                - HF_DATASETS_OFFLINE=1
                - HF_HUB_OFFLINE=1
            
case: 
    qwen3-sft:
        -
            type: sft
            parameters:
                model: examples/v1/sft_qwen3_tiny.py
                dataset: tests/resource/openai_sft.jsonl
                chat_template: qwen3
            assert_info:
                base_metric: /mnt/shared-storage-user/caoweihan/qa-caif-cicd/tmp/debugsftdir/20251110023645/logs/exp_tracking/rank0/tracker.jsonl
                check_metrics:
                    loss/total_loss: 0.01
                    lr: 0
                    runtime_info/e2e_tgs: 500
                    text_tokens: 0
                    grad_norm: 0.02
            timeout: 600

