base_path:
    base_output_path: /mnt/shared-storage-user/llmrazor-share/qa-llm-cicd/test_output
    base_baseline_path: /mnt/shared-storage-user/llmrazor-share/qa-llm-cicd/xtuner_baseline

default_config:
    train: 
        resource:
            gpus_per_task: 8
            cpus_per_task: 120
            memory_per_task: 512
            image: registry.h.pjlab.org.cn/ailab-llmrazor/xtuner:pt28_20251216_d769950
            envs: 
                - HF_HUB_CACHE=/mnt/shared-storage-user/auto-eval-pipeline/opencompass/models/hf_hub
    eval:
        resource:
            gpus_per_task: 0
            cpus_per_task: 16
            memory_per_task: 128
            image: registry.h.pjlab.org.cn/ailab-puyu/auto-eval:ld_0101_oc_8ee07ac_v3
            envs: 
                - HF_HUB_CACHE=/mnt/shared-storage-user/auto-eval-pipeline/opencompass/models/hf_hub
                - HF_DATASETS_CACHE=/mnt/shared-storage-user/auto-eval-pipeline/opencompass/llmeval/hf_cache
                - COMPASS_DATA_CACHE=/mnt/shared-storage-user/auto-eval-pipeline/opencompass/llmeval/compass_data_cache
                - HF_DATASETS_OFFLINE=1
                - HF_HUB_OFFLINE=1

case: 
    qwen3-sft:
        -
            type: sft
            parameters:
                config: autotest/config/qwen3.py
                output_path: /mnt/shared-storage-user/llmrazor-share/qa-llm-cicd/test_output
            resource:
                envs: 
                    - QWEN3_MOE_PATH=/mnt/shared-storage-user/llmrazor-share/model/Qwen3-30B-A3B
                    - ALPACA_PATH=/mnt/shared-storage-user/llmrazor-share/data/alpaca
                    - XTUNER_DETERMINISTIC=true
            assert_info:
                base_metric: qwen3-sft/20251117105949/tracker.jsonl
                check_metrics:
                    grad_norm: 0.000001
                    loss/reduced_llm_loss: 0.000001
                    lr: 0
                    memory/max_memory_GB: 0.2
                    runtime_info/tgs: 0.05
                    runtime_info/text_tokens: 0
            timeout: 10800

    qwen3-sft-ep8:
        -
            type: sft
            parameters:
                config: autotest/config/qwen3_moe_30BA3_ep8.py
                output_path: /mnt/shared-storage-user/llmrazor-share/qa-llm-cicd/test_output
            resource:
                num_nodes: 2
                cpus_per_task: 80
                envs:
                    - QWEN3_MOE_PATH=/mnt/shared-storage-user/llmrazor-share/model/Qwen3-30B-A3B
                    - ALPACA_PATH=/mnt/shared-storage-user/llmrazor-share/data/alpaca
                    - XTUNER_DETERMINISTIC=true
            assert_info:
                base_metric: qwen3-sft-ep8/cec3a8d2/tracker.jsonl
                check_metrics:
                    grad_norm: 0.000001
                    loss/reduced_llm_loss: 0.000001
                    lr: 0
                    memory/max_memory_GB: 0.2
                    runtime_info/tgs: 0.05
                    runtime_info/text_tokens: 0
            timeout: 10800
        -
            type: sft
            pre_action:
                command: 'python ./autotest/utils/update_meta.py /mnt/shared-storage-user/llmrazor-share/qa-llm-cicd/test_output'
            parameters:
                config: autotest/config/qwen3_moe_30BA3_ep8_resume.py
                output_path: /mnt/shared-storage-user/llmrazor-share/qa-llm-cicd/test_output
            resource:
                num_nodes: 2
                cpus_per_task: 80
                envs:
                    - QWEN3_MOE_PATH=/mnt/shared-storage-user/llmrazor-share/model/Qwen3-30B-A3B
                    - ALPACA_PATH=/mnt/shared-storage-user/llmrazor-share/data/alpaca
                    - XTUNER_DETERMINISTIC=true
            assert_info:
                base_metric: qwen3-sft-ep8/cec3a8d2_resume/tracker.jsonl
                check_metrics:
                    grad_norm: 0.000001
                    loss/reduced_llm_loss: 0.000001
                    lr: 0
                    memory/max_memory_GB: 0.2
                    runtime_info/text_tokens: 0
            timeout: 10800

    qwen3-sft-tp2:
        -
            type: sft
            parameters:
                config: autotest/config/qwen3_moe_30BA3_tp2.py
                output_path: /mnt/shared-storage-user/llmrazor-share/qa-llm-cicd/test_output
            resource:
                envs:
                    - QWEN3_MOE_PATH=/mnt/shared-storage-user/llmrazor-share/model/Qwen3-30B-A3B
                    - ALPACA_PATH=/mnt/shared-storage-user/llmrazor-share/data/alpaca
                    - XTUNER_DETERMINISTIC=true
            assert_info:
                base_metric: qwen3-sft-tp2/cec3a8d2/tracker.jsonl
                check_metrics:
                    grad_norm: 0.000001
                    loss/reduced_llm_loss: 0.000001
                    lr: 0
                    memory/max_memory_GB: 0.2
                    runtime_info/tgs: 0.05
                    runtime_info/text_tokens: 0
            timeout: 10800

    qwen3-sft-recompute:
        -
            type: sft
            parameters:
                config: autotest/config/qwen3_recompute.py
                output_path: /mnt/shared-storage-user/llmrazor-share/qa-llm-cicd/test_output
            resource:
                num_nodes: 2
                cpus_per_task: 80
                envs:
                    - QWEN3_MOE_PATH=/mnt/shared-storage-user/llmrazor-share/model/Qwen3-30B-A3B
                    - ALPACA_PATH=/mnt/shared-storage-user/llmrazor-share/data/alpaca
                    - XTUNER_DETERMINISTIC=true
            assert_info:
                base_metric: qwen3-sft-recompute/d76995/tracker.jsonl
                check_metrics:
                    grad_norm: 0.000001
                    loss/reduced_llm_loss: 0.000001
                    lr: 0
                    memory/max_memory_GB: 0.2
                    runtime_info/tgs: 0.05
                    runtime_info/text_tokens: 0
            timeout: 10800
             
    qwen3-sft-fp8:
        -
            type: sft
            parameters:
                config: autotest/config/qwen3_fp8.py
                output_path: /mnt/shared-storage-user/llmrazor-share/qa-llm-cicd/test_output
            resource:
                num_nodes: 2
                cpus_per_task: 80
                envs:
                    - QWEN3_MOE_PATH=/mnt/shared-storage-user/llmrazor-share/model/Qwen3-30B-A3B
                    - ALPACA_PATH=/mnt/shared-storage-user/llmrazor-share/data/alpaca
                    - XTUNER_DETERMINISTIC=true
                    - XTUNER_ACTIVATION_OFFLOAD=1
                    - XTUNER_USE_FA3=1
            assert_info:
                base_metric: qwen3-sft-fp8/d76995/tracker.jsonl
                check_metrics:
                    grad_norm: 0.1
                    loss/reduced_llm_loss: 0.000001
                    lr: 0
                    memory/max_memory_GB: 0.2
                    runtime_info/tgs: 0.05
                    runtime_info/text_tokens: 0
            timeout: 10800 

    qwen3-sft-16nums:
        -
            type: sft
            parameters:
                config: autotest/config/qwen3_16nums.py
                output_path: /mnt/shared-storage-user/llmrazor-share/qa-llm-cicd/test_output
            resource:
                num_nodes: 2
                cpus_per_task: 80
                envs:
                    - QWEN3_MOE_PATH=/mnt/shared-storage-user/llmrazor-share/model/Qwen3-30B-A3B
                    - ALPACA_PATH=/mnt/shared-storage-user/llmrazor-share/data/alpaca
                    - XTUNER_DETERMINISTIC=true
            assert_info:
                base_metric: qwen3-sft/20251117105949/tracker.jsonl
                check_metrics:
                    grad_norm: 1
                    loss/reduced_llm_loss: 0.02
                    lr: 0
            timeout: 10800

    qwen3-sft-celoss:
        -
            type: sft
            parameters:
                config: autotest/config/qwen3_sft_celoss.py
                output_path: /mnt/shared-storage-user/llmrazor-share/qa-llm-cicd/test_output
            resource:
                num_nodes: 2
                cpus_per_task: 80
                envs:
                    - QWEN3_MOE_PATH=/mnt/shared-storage-user/llmrazor-share/model/Qwen3-30B-A3B
                    - ALPACA_PATH=/mnt/shared-storage-user/llmrazor-share/data/alpaca
                    - XTUNER_DETERMINISTIC=true
            assert_info:
                base_metric: qwen3-sft-celoss/812c1021/tracker.jsonl
                check_metrics:
                    grad_norm: 0.000001
                    loss/reduced_llm_loss: 0.000001
                    lr: 0
                    memory/max_memory_GB: 0.2
                    runtime_info/tgs: 0.05
                    runtime_info/text_tokens: 0
            timeout: 10800

    gptoss-sft:
        -
            type: sft
            parameters:
                config: autotest/config/gptoss.py
                output_path: /mnt/shared-storage-user/llmrazor-share/qa-llm-cicd/test_output
            resource:
                envs:
                    - GPTOSS_21B_PATH=/mnt/shared-storage-user/llmrazor-share/model/gpt-oss-20b-bf16
                    - ALPACA_PATH=/mnt/shared-storage-user/llmrazor-share/data/alpaca
                    - XTUNER_DETERMINISTIC=true
            assert_info:
                base_metric: gptoss-sft/7b774a0e2/tracker.jsonl
                check_metrics:
                    grad_norm: 0.000001
                    loss/reduced_llm_loss: 0.000001
                    lr: 0
                    memory/max_memory_GB: 0.2
                    runtime_info/tgs: 0.05
                    runtime_info/text_tokens: 0
            timeout: 10800

    qwen3-rl-lmdeploy:
        -
            type: rl
            parameters:
                config: autotest/config/rl_qwen3_gsk8k_grpo.py
                infer_backend: lmdeploy
                output_path: /mnt/shared-storage-user/llmrazor-share/qa-llm-cicd/test_output
            resource:
                envs:
                    - MODEL_PATH=/mnt/shared-storage-user/llmrazor-share/model/Qwen3-8B
                    - DATA_PATH=/mnt/shared-storage-user/llmrazor-share/data/gsm8k/train-mini.jsonl
                    - EVAL_DATA_PATH=/mnt/shared-storage-user/llmrazor-share/data/gsm8k/test.jsonl
                    - XTUNER_DETERMINISTIC=true
            assert_info:
                base_metric: qwen3-rl-lmdeploy/20260203/tracker.jsonl
                check_metrics:
                    - 
                       metric:  eval/accuracy
                       threshold: 0.05
                       method: absolute
                       operator: <
                    -
                       metric: response/rewards/mean
                       threshold: 0.1
                       method: absolute
                       operator: <
                    - 
                       metric:  mismatch/mismatch_k3_kl
                       threshold: 0.0001
                       method: absolute
                       operator: <=
                    -
                       metric: response/response_len/mean
                       threshold: 0.12
                       method: relative
                       operator: <
                    -
                       metric: time/step
                       threshold: 10
                       method: absolute
                       operator: <
            timeout: 2460
