name: ete_test
on:
  workflow_dispatch:
    inputs:
      repo_org:
        required: false
        description: 'Tested repository organization name. Default is InternLM'
        type: string
        default: 'InternLM/xtuner'
      repo_ref:
        required: false
        description: 'Set branch or tag or commit id. Default is "main"'
        type: string
        default: 'main'

jobs:
  ete_test:
    if: ${{!cancelled() }}
    runs-on: [h_cluster_ete]
    steps:
      - name: Clean workdir
        run: sudo git clean -ffdx
      - name: Clone repository
        uses: actions/checkout@v2
        with:
          repository: ${{ github.event.inputs.repo_org || 'InternLM/xtuner' }}
          ref: ${{github.event.inputs.repo_ref || 'main'}}
      - name: run-test
        run: |
          source /mnt/shared-storage-user/opencompass-shared/qa-llm-cicd/miniconda3/bin/activate
          conda activate clusterx 
          conda env list
          unset HTTP_PROXY;unset HTTPS_PROXY;unset http_proxy;unset https_proxy;
          pytest autotest/test_all.py -m all -n 1 -s -vv --run_id ${{ github.run_id }}
