name: unit_test
on:
  pull_request:
    branches:
      - "main"
      - "refactor"
    paths-ignore:
      - "docs/**"
      - "**.md"
      - "autotest/**"
env:
  WORKSPACE_PREFIX: $(echo $GITHUB_WORKSPACE |cut -d '/' -f 1-5)
  WORKSPACE_PREFIX_SHORT: $(echo $GITHUB_WORKSPACE |cut -d '/' -f 1-3)
  IMAGE: registry.h.pjlab.org.cn/ailab-llmrazor/xtuner:pt28_20251216_d769950

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  unit_test:
    runs-on: [h_cluster]
    steps:
    - name: mask env
      run: |
        echo "::add-mask::${{env.WORKSPACE_PREFIX}}"
        echo "::add-mask::${{env.WORKSPACE_PREFIX_SHORT}}"
        sudo git clean -ffdx
    - uses: actions/checkout@v3

    - name: unit-test
      run: |
        export PYTHONPYCACHEPREFIX=/tmp
        python ci/scripts/xtuner_unittest.py "$IMAGE" "source ${{env.WORKSPACE_PREFIX}}/BASE_ENV.sh;source ci/scripts/CI_ENV.sh" "pytest tests"
